<div class="container mt-3">
  <h1>Lists</h1>
  <hr>

  <br>

  <% @lists.each do |list| %>
    <div class="card-product">
      <p><%= cl_image_tag(list.photo.key, crop: :thumb, gravity: :face) %></p>
      <div class="card-product-infos d-flex m-3">
        <h2><%= link_to list.name, list_path(list) %></h2>
      </div>
    </div>
  <% end %>

  <br>
  <hr>

  <%= link_to "Create a Movie List", new_list_path %>

  </a>
</div>
