<div class="container mt-3">
  <h1>Create a new list</h1>

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>

    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>

  <hr>


</div>


<%# GET /lists #index
GET /lists/123 #show
GET /lists/new #new
POST /lists #create %>
